<div class="container mono-font mt-3">
  <div *ngIf="step===0 && !alreadyDone">
    <h1 class="app-h1">Thank you! This will only take a few minutes.</h1>
    <div class="row">
      <div class="col-8">
        <p>Thank you for considering helping us! This survey (as well as the tool) is part of a bachelor's thesis
          at the <strong>University of Zurich</strong> in the department of informatics.
        </p>
      </div>
      <div class="col-2">
        <img src="../../assets/uzh_logo.png" class="w-100">
      </div>
      <div class="col-2">
        <img src="../../assets/seal-logo.jpg" class="w-100">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2 class="app-h2">About the creator of BLogDiff</h2>
      </div>
      <div class="col-3">
        <img src="../../assets/noah.jpg" class="w-100">
      </div>
      <div class="col-9">
        <p>Hi! My name is Noah and I am currently finishing my bachelor's degree in business informatics/information systems.
          One of the research questions I want to answer in my thesis is:  <i>Does a specialised differencing tool support a developer reading a build log?</i>
        To evaluate this I developed this tool and urge you to try it out! I am relying on people working in development or operations to quickly test the tool and give me a short feedback.
        By taking part in my survey, you would really help me out! If that's not enough to motivate you, I'll also give away one <span class="giftcard"> <fa-icon [icon]="['fas', 'gift']"></fa-icon> 50$ gift card</span> of choice for those taking part ;)
        </p>
        <p>Please feel free to share the survey with your friends!</p>
      </div>

    </div>


    <div class="row mt-2">
      <div class="col-12">
        <h2 class="app-h2">About the survey</h2>
        <p>The survey consists out of <strong>29 questions (4 open, 25 closed)</strong> and roughly takes about <strong>3 minutes</strong>.</p>
        <p> The data collected will be used for scientific purposes exclusively!
          Participation in the survey is voluntary, but by participating you give us permission that we may use and publish the results in a scientific study.</p>

        <h2 class="app-h2">Have you already used BLogDiff?</h2>
        <button (click)="step=1; usedTool = false;" class="btn btn-primary background-primary rounded-0 mr-2">No, I want to see the instructions first.</button>
        <button (click)="step=2; usedTool = true;" class="btn btn-primary background-primary rounded-0">Yes, I know the tool. Let's start with the survey.</button>
      </div>
    </div>

  </div>
  <div *ngIf="step===1 && !alreadyDone">
    <h1 class="app-h1">Please read the instructions and continue to the survey</h1>
    <hr>
    <button (click)="step=2"  class="btn btn-primary background-primary float-right done-btn rounded-0">I'm done. Start the survey!</button>
    <app-instructions></app-instructions>
  </div>
  <div *ngIf="step===2 && !alreadyDone">
    <div class="p-3">
      <h1 class="app-h1">Survey, you are almost done!</h1>
      <survey [json]="json" (submitSurvey)="sendData($event)" ></survey>
    </div>
  </div>
  <div class="p-3" *ngIf="alreadyDone">
    <p>Thank you! You have already helped enough ;)</p>
  </div>


</div>
