<div class="container mono-font mt-3">
  <div *ngIf="step===0">
    <h1 class="app-h1">Thank you! This will only take a few minutes.</h1>
    <p>Thank you for being willing to take part in our survey. This survey (as well as the tool) is part of a bachelor's thesis
      at the <strong>University of Zurich</strong> in the department of informatics. The data collected will
      be used for scientific purposes exclusively! Every feedback we can get is highly appreciated, please feel free to share this survey!</p>
    <p>The survey consists out of <strong>27 questions (4 open, 23 closed)</strong> and roughly takes about <strong>3 minutes</strong>.</p>

    <h2 class="app-h2">Have you already used BLogDiff?</h2>
    <button (click)="step=1" class="btn btn-primary background-primary rounded-0 mr-2">No, I want to see the instructions first.</button>
    <button (click)="step=2" class="btn btn-primary background-primary rounded-0">Yes, I know the tool. Let's start with the survey.</button>
  </div>
  <div *ngIf="step===1">
    <h1 class="app-h1">Please read the instructions and continue to the survey</h1>
    <hr>
    <button (click)="step=2"  class="btn btn-primary background-primary float-right done-btn rounded-0">I'm done. Start the survey!</button>
    <app-instructions></app-instructions>
  </div>
  <div *ngIf="step===2">
    <div class="p-3" *ngIf="!alreadyDone">
      <h1 class="app-h1">Survey, you are almost done!</h1>
      <survey [json]="json" (submitSurvey)="sendData($event)" ></survey>
    </div>
    <div class="p-3" *ngIf="alreadyDone">
      <p>Thank you! You have already helped enough ;)</p>
    </div>
  </div>


</div>
