<div [class.collapsed-node]="buildLogNode.displayed" [class.node]="!settings.differencesOnly && settings.wrapLines"  [class.flex-node]="!settings.wrapLines" *ngIf="buildLogNode !== undefined">
<div [class.node-collapser]="!settings.differencesOnly && settings.wrapLines"  [class.flex-node-collapser]="!settings.wrapLines"(click)="buildLogNode.displayed = !buildLogNode.displayed" *ngIf="!settings.differencesOnly">
  <fa-icon *ngIf="buildLogNode.displayed" [icon]="['fas', 'plus-square']"></fa-icon>
  <fa-icon *ngIf="!buildLogNode.displayed"[icon]="['fas', 'minus-square']"></fa-icon>
</div>
<div class="node-content" [ngClass]="getClassForNode(parentActions, buildLogNode.nodeName)" *ngIf="buildLogNode !== undefined">
  <div *ngFor="let lineBefore of buildLogNode.linesBefore" class="logLine"
       [ngClass]="getClassForLine(editAction?.linesBeforeActions, lineBefore.internalLineIndex)"
       (click)="highlightPair($event)"
       (mouseleave)="removeHighlight()">
    <span class="line-nr">{{lineBefore.lineIndex}}</span> <span [innerHTML]="lineBefore.content"></span>
  </div>
  <div *ngFor="let node of buildLogNode.logNodes">
      <app-node-displayer [buildLogNode]="node" [editAction]="getSubEditTreeForNode(node)" [leftNode]="leftNode" [parentActions]="editAction.nodeActions" [settings]="settings"></app-node-displayer>
  </div>
  <div *ngFor="let lineAfter of buildLogNode.linesAfter" class="logLine" [ngClass]="getClassForLine(editAction?.linesAfterActions, lineAfter.internalLineIndex)">
    <span class="line-nr">{{lineAfter.lineIndex}}</span> <span [innerHTML]="lineAfter.content"></span>
  </div>
</div>
<div class="node-name logLine" *ngIf="buildLogNode !== undefined">
   {{buildLogNode.nodeName}}
</div>
</div>

