<div class="row pt-3 mb-2 settings-panel">
  <div class="col-6 mb-1">
    <div class="row">
      <div class="col-8">
        <h1 class="app-h3 color-primary">Build Log Selection:</h1>
      </div>
      <div class="col-4">
        <div class="custom-control custom-switch float-right">
          <label class="app-h4 color-secondary custom-switch-fake-label" ngbTooltip="Switch to manual input mode">Manual mode</label>
          <input [(ngModel)]="manual_mode" [disabled]="jobs === undefined" class="custom-control-input" id="modeSwitch" type="checkbox">
          <label class="custom-control-label app-h4 color-secondary" for="modeSwitch"></label>
        </div>
      </div>
    </div>

    <div *ngIf="!manual_mode" class="row">
      <div class="col-5">
        <h2 class="app-h4 color-secondary">Select Log 1:</h2>
        <select [(ngModel)]="selectedLog1" class="app-select" size="5">
          <option *ngFor="let job of jobs;" [value]="job.id" [class]="'state-'+job.state">
            #{{job.number}} | {{job.id}} | {{job.finished_at | date:'shortDate'}}</option>
        </select>

      </div>
      <div class="col-5">
        <h2 class="app-h4 color-secondary">Select Log 2:</h2>
        <select [(ngModel)]="selectedLog2" class="app-select" size="5">
          <option *ngFor="let job of jobs;" [value]="job.id" [class]="'state-'+job.state">
            #{{job.number}} | {{job.id}} | {{job.finished_at | date:'shortDate'}}</option>
        </select>
      </div>
      <div class="col-2">
        <button (click)="diffMulti()" [disabled]="selectedLog1 === undefined || selectedLog2 === undefined" class="btn btn-sm btn-primary background-primary self-bottom">Apply</button>
      </div>
    </div>
    <div *ngIf="manual_mode" class="row">
      <div class="col-4">
        <label class="app-h4 color-secondary" ngbTooltip="Enter the repository identifier">Repository Slug</label>
      </div>
      <div class="col-6">
        <input [(ngModel)]="repoSlug" placeholder="username/repository" class="form-control form-control-sm rounded-0 w-100" pattern="\w*\/\w*"/>
        <div class="alert alert-danger rounded-0 mt-2" role="alert" *ngIf="showError">
          {{errorMsg}}
        </div>
      </div>
      <div class="col-2">
        <button (click)="diffManual()" [disabled]="repoSlug!== undefined && repoSlug.length < 3" class="btn btn-sm btn-primary background-primary float-right">Apply</button>
      </div>
    </div>
    <div *ngIf="manual_mode" class="row mt-1">
      <div class="col-5"><hr></div>
      <div class="col-2 text-center"><span class="app-h4 color-secondary">OR</span></div>
      <div class="col-5"><hr></div>
    </div>
    <div *ngIf="manual_mode" class="row mt-1">
      <div class="col-4">
        <label class="app-h4 color-secondary" ngbTooltip="Enter two job IDs. They need to be from the same repository">Jobs</label>
      </div>
      <div class="col-6">
        <input [(ngModel)]="selectedLog1" placeholder="Job ID before" class="form-control form-control-sm d-inline-block rounded-0 w-50" type="number"/>
        <input [(ngModel)]="selectedLog2" placeholder="Job ID after" class="form-control form-control-sm d-inline-block rounded-0 w-50" type="number"/>
      </div>
      <div class="col-2">
        <button (click)="diffMultiManual()" [disabled]="selectedLog1 === undefined || selectedLog2 === undefined" class="btn btn-sm btn-primary background-primary float-right">Apply</button>
      </div>
    </div>
  </div>
  <div class="col-6 mb-1">
    <div class="row">
      <div class="col-12">
        <h1 class="app-h3 color-primary">Settings:</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="row">
          <div class="col-8">  <label class="app-h4 color-secondary" ngbTooltip="Show added lines or nodes">Show Additions</label></div>
          <div class="col-4">
            <div class="custom-control custom-switch">
              <input [(ngModel)]="settings.showAdditions" class="custom-control-input" id="addSwitch" type="checkbox">
              <label class="custom-control-label app-h4 color-secondary" for="addSwitch"></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <label class="app-h4 color-secondary" ngbTooltip="Show deleted lines or nodes">Show Deletions</label>
          </div>
          <div class="col-4">
            <div class="custom-control custom-switch">
            <input [(ngModel)]="settings.showDeletions" class="custom-control-input" id="deleteSwitch" type="checkbox">
            <label class="custom-control-label app-h4 color-secondary" for="deleteSwitch"></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <label class="app-h4 color-secondary" ngbTooltip="Show updated lines">Show Updates</label>
          </div>
          <div class="col-4">
            <div class="custom-control custom-switch">
            <input [(ngModel)]="settings.showUpdates" class="custom-control-input" id="updateSwitch" type="checkbox">
            <label class="custom-control-label app-h4 color-secondary" for="updateSwitch"></label>
          </div></div>
        </div>
        <div class="row">
          <div class="col-8">
            <label class="app-h4 color-secondary" ngbTooltip="Show moved lines or nodes">Show Moves</label>
          </div>
          <div class="col-4">
            <div class="custom-control custom-switch">
             <input [(ngModel)]="settings.showMoves" class="custom-control-input" id="moveSwitch" type="checkbox">
             <label class="custom-control-label app-h4 color-secondary" for="moveSwitch"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row">
          <div class="col-8"><label class="app-h4 color-secondary" ngbTooltip="Moved lines are highlighted when clicked on">Highlight Moves</label></div>
          <div class="col-4">
            <div class="custom-control custom-switch">
              <input [(ngModel)]="settings.highlightMove" class="custom-control-input" id="highlightSwitch" type="checkbox">
              <label class="custom-control-label app-h4 color-secondary" for="highlightSwitch"></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8"><label class="app-h4 color-secondary" ngbTooltip="Wrap the log lines">Wrap Lines</label></div>
          <div class="col-4">
            <div class="custom-control custom-switch">
              <input [(ngModel)]="settings.wrapLines" class="custom-control-input" id="wrapSwitch" type="checkbox">
              <label class="custom-control-label app-h4 color-secondary" for="wrapSwitch"></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8"><label class="app-h4 color-secondary" ngbTooltip="Only show lines with differences">Differences Only</label></div>
          <div class="col-4">
            <div class="custom-control custom-switch">
              <input [(ngModel)]="settings.differencesOnly" class="custom-control-input" id="diffOnlySwitch" type="checkbox">
              <label class="custom-control-label app-h4 color-secondary" for="diffOnlySwitch"></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8"><label class="app-h4 color-secondary" ngbTooltip="Only show nodes that are available in both build logs.">Symmetric Nodes</label></div>
          <div class="col-4">
            <div class="custom-control custom-switch">
              <input [(ngModel)]="settings.symmetricNodes" class="custom-control-input" id="symmetricNodes" type="checkbox">
              <label class="custom-control-label app-h4 color-secondary" for="symmetricNodes"></label>
            </div>
          </div>
        </div>
      </div>
        <div class="col-2">

          <button (click)="reportBug()" class="btn btn-sm btn-primary background-primary float-right">Report Bug</button>
          <button (click)="toTop()" class="btn btn-sm btn-primary background-primary bottom-right-with-p">To Top</button>
        </div>
      <!--      <div class="col-2"> <button class="btn btn-sm btn-primary background-primary self-bottom" (click)="newSettings()">Apply</button></div>-->
    </div>
  </div>
  <div class="col-12" *ngIf="differencingResult !== undefined">
    <div class="row m-0 statistics">
      <div class="col-3">
        Additions: {{differencingResult.additions}}
      </div>
      <div class="col-3">
        Deletions: {{differencingResult.deletions}}
      </div>
      <div class="col-3">
        Updates: {{differencingResult.updates}}
      </div>
      <div class="col-3">
        Moves: {{differencingResult.moves}}
      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="differencingResult?.messageList?.length > 0">
  <div class="col-12">
    <div *ngFor="let message of differencingResult.messageList"
                                  class="alert rounded-0"
                                  [class.alert-info]="message.messageType === 'INFO'"
                                  [class.alert-warn]="message.messageType === 'WARN'"
                                  [class.alert-danger]="message.messageType === 'ERROR'">
      {{message.message}}
    </div>
  </div>

</div>
<div *ngIf="!containsErrors()">

<div class="row mt-3" *ngIf="differencingResult !== undefined">
  <div class="col-12">
    <h1 class="app-h3 color-primary">Difference:</h1>
  </div>
</div>
<div *ngIf="differencingResult !== undefined" class="row">

  <div class="col-6 scrolling-wrapper" [class.no-wrap]="!settings.wrapLines">
    <div class="log-col-title background-primary color-white pl-2">
      Log 1
    </div>
    <div *ngIf="differencingResult.treeBefore !== null">
      <div *ngFor="let node of differencingResult.treeBefore.nodes;">
        <app-node-displayer [buildLogNode]="node" [editAction]="getSubEditTreeForNode(node)"
                            [leftNode]="true" [settings]="settings"></app-node-displayer>
      </div>
    </div>
    <div *ngIf="differencingResult.treeBefore == null">
      No previous log could be loaded.
    </div>

  </div>
  <div class="col-6 scrolling-wrapper" [class.no-wrap]="!settings.wrapLines">
    <div class="log-col-title background-primary color-white pl-2">
      Log 2
    </div>
    <div *ngFor="let node of differencingResult?.treeAfter?.nodes;">
      <app-node-displayer [buildLogNode]="node" [editAction]="getSubEditTreeForNode(node)"
                          [leftNode]="false" [settings]="settings"></app-node-displayer>
    </div>
  </div>
</div>

  <app-mini-survey></app-mini-survey>
</div>
