<div class="container">
  <div class="row">
    <input type="text" [(ngModel)]="buildLogIdBefore"/>
    <input type="text" [(ngModel)]="buildLogIdAfter"/>
    <button class="btn btn-info" (click)="diff();"><fa-icon [icon]="['fas', 'cog']" [spin]="loading"></fa-icon>Diff!</button>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-6 scrolling-wrapper" >

      <div *ngFor="let node of differencingResult.treeBefore.nodes;">
        <app-node-displayer [buildLogNode]="node" [editAction]="getSubEditTreeForNode(node)"[leftNode]="true"></app-node-displayer>
      </div>

    </div>
    <div class="col-6 scrolling-wrapper">
      <div *ngFor="let node of differencingResult.treeAfter.nodes;">
        <app-node-displayer [buildLogNode]="node" [editAction]="getSubEditTreeForNode(node)"  [leftNode]="false"></app-node-displayer>
      </div>
    </div>
  </div>
</div>
